[Unit]
Description=Client for the acme text editor that acts as a proxy for a LSP servers
Documentation=https://pkg.go.dev/9fans.net/acme-lsp@master/cmd/acme-lsp
# Not supported by superd(1). PartOf/After options considered harmful?
# See: https://9lab.org/9port/acme-with-lsp/
# PartOf=graphical-session.target
# After=graphical-session.target

[Service]
Type=simple
Environment=PLAN9=/usr/local/plan9
Environment=PATH=/usr/bin:/usr/local/plan9/bin
ExecStart=%h/go/bin/acme-lsp
Restart=always

[Install]
WantedBy=default.target
