[Unit]
Description=Server that tells acme's focused window ID to clients
Documentation=https://pkg.go.dev/9fans.net/acme-lsp@master/cmd/acmefocused

[Service]
Environment=PLAN9=/usr/local/plan9
Environment=PATH=/usr/bin:/usr/local/plan9/bin
ExecStart=%h/go/bin/acmefocused
Restart=always

[Install]
WantedBy=default.target
