[Unit]
Description=acme editor client for LSP servers
Documentation=https://pkg.go.dev/9fans.net/acme-lsp@master/cmd/acme-lsp

[Service]
ExecStart=/bin/sh -c 'exec "/home/$(/usr/bin/id -un)/go/bin/acme-lsp"'
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
