[Unit]
Description=server for acme that presents the focused window ID to clients
Documentation=https://pkg.go.dev/9fans.net/acme-lsp@master/cmd/acmefocused

[Service]
ExecStart=/bin/sh -c 'exec "${HOME}/go/bin/acmefocused"'
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
