[Unit]
Description=Presents the host window system's fonts in the standard Plan 9 format
Documentation=man:fontsrv(4)

[Service]
Type=simple
Environment=PLAN9=/usr/local/plan9
Environment=PATH=/usr/local/plan9/bin
ExecStart=/usr/local/plan9/bin/fontsrv
Restart = always

[Install]
WantedBy=default.target
