[Unit]
Description=User-level file system for interprocess messaging
Documentation=man:plumber(4)

[Service]
Environment=PLAN9=/usr/local/plan9
Environment=PATH=/bin:/usr/bin:/usr/local/plan9/bin
# Override $NAMESPACE (see intro(4)) because $WSYS is not running yet.
Environment=NAMESPACE=ns.d.:0
ExecStartPre=/bin/sh -c 'mkdir -p "$(/usr/local/plan9/bin/namespace)"'
ExecStart=/usr/local/plan9/bin/plumber -f
Restart = always

[Install]
WantedBy=default.target
