* {
  all: unset;
}

window {
  font-family: monospace;
  font-size: 13px;
  background-color: rgba(0,0,0,0);
  color: $base04;
  & > * {
    margin: 0px 0px 12px 12px;
  }
}

.tags {
  margin-top: 9px;
}

.active {
  color: $base06;
  padding: 6px 9px 6px 6px;
  border-left: 3px solid $base0C;
}

.time {
  color: $base06;
  font-weight: bold;
  margin-bottom: 6px;
}

.date {
  margin-top: 6px;
}

.icon {
  background-color: rgba(13,13,13,0.87);
  padding: 9px;
  margin: 4.5px 0px;
  border-radius: 3px;
}

.current-tag {
  color: rgba(13,13,13,0.87);
  background-color: $base0E;
  padding: 9px;
  margin: 4.5px 0px;
  border-radius: 3px;
}
