@import "colorsLight.css";

/* allt */
* {
  all: unset;
  font: 10pt 'CozetteVector';
  color: @inverse_surface;
}

window#waybar {
  background-color: @surface_dim;
}

.module {
  /* minimum bredd, så att enskilda ikoner inte klipps av */
  min-width: 12px;
}

/* övre */
window#waybar.top {
  box-shadow:
    2px 0px 0px @on_primary inset,
    -2px -2px 0 @outline inset,
    1px 0px 0px @surface_dim inset,
    -1px -1px 0px @on_background inset,
    /*shadow*/
    0px 0px 6px @surface_dim;
}

window#waybar.top .modules-left {
  margin: 0 0 0 2px;
}

window#waybar.top .modules-right {
  margin: 2px 4px 4px 2px;
  padding: 2px 6px 0 4px;
  background: @surface_container;
  box-shadow:
    2px 2px 0px @outline inset,
    -2px -2px 0px @surface_dim inset,
    1px 1px 0px @on_background inset,
    -1px -1px 0px @on_primary inset;
}

/* nedre */
window#waybar.bottom {
  box-shadow:
    -2px 0px 0px @outline inset,
    2px 2px 0px @on_primary inset,
    -1px 0px 0px @on_background inset,
    1px 1px 0px @surface_dim inset,
    /*shadow*/
    0px 0px 6px @surface_dim;
}


/* moduler */

#window {
  min-width: 16px;
}

#taskbar {
  /* luft runt knapparna */
  margin: 4px 2px 2px 2px;
}

#taskbar button {
  min-width: 64px;
  /* luft mellan knapparna */
  margin: 0 2px 0 2px;
  /* luft innanför knapparna */
  padding: 2px 6px 2px 2px;
  box-shadow:
    1px 1px 0px @on_primary inset,
    -2px -2px 0px @outline inset,
    1px 1px 0px @on_primary inset,
    -1px -1px 0px @on_background inset
}

#taskbar button.active {
  background: @surface_container;
  font-weight: bold;
  box-shadow:
    2px 2px 0px @outline inset,
    -2px -2px 0px @surface_dim inset,
    1px 1px 0px @on_background inset,
    -1px -1px 0px @on_primary inset
}

#taskbar button.minimized {}

#taskbar button.maximized {}

#taskbar button.fullscreen {}

#taskbar.empty {}
