[Desktop Entry]
Type=Application
Name=Acme
Name[en_US]=Acme
Comment=interactive text windows
Comment[en_US]=interactive text windows
Exec=/usr/local/plan9/bin/rc -l -c 'exec $home/bin/acme' # ../../../bin/acme
Icon=/usr/local/plan9/dist/spaceglenda100.png
GenericName[en_US]=Manages windows of text that may be edited interactively or by external programs.
GenericName=Manages windows of text that may be edited interactively or by external programs.
MimeType=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
